@font-face
{
font-family: myFirstFont;
src: url(pacquiao.ttf);
}

@font-face
{
font-family: customFont2;
src: url(sansation_light.woff);
}

@charset "UTF-8";
p.pac {
	color: white;
	text-align: center;
	/* You forgot semicolon so it wasnt reading css */
}

a:visited {
 color:#707070;
}

body {
    background: red; /* not working, let's see some red */
    background: -moz-linear-gradient( top ,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 255, 0, 1) 15%,
        rgba(0, 255, 0, 1) 30%,
        rgba(0, 255, 255, 1) 50%,
        rgba(0, 0, 255, 1) 65%,
        rgba(255, 0, 255, 1) 80%,
        rgba(255, 0, 0, 1) 100%);
    background: -webkit-gradient(linear,  left top,  left bottom, 
        color-stop(0%, rgba(255, 0, 0, 1)), 
        color-stop(15%, rgba(255, 255, 0, 1)),
        color-stop(30%, rgba(0, 255, 0, 1)),
        color-stop(50%, rgba(0, 255, 255, 1)),
        color-stop(65%, rgba(0, 0, 255, 1)),
        color-stop(80%, rgba(255, 0, 255, 1)),
        color-stop(100%, rgba(255, 0, 0, 1)));
}



h1 {
    text-align: center;
	color: white;
	font-family: myFirstFont;
	font-size: 50px;
}

h2 {
    text-align: center;
	color: white;
	font-family: customFont2;
}

h3 {
	text-align: center;
	color: white;
	font-family: customFont2;
}

img.logo{
display: block;
text-align: center;
}

img.hackbca {
	display: block;
    margin-left: auto;
    margin-right: auto;
}